{:highlights [{:id #uuid "67c6db08-fea4-45b4-bd91-a1f40704b8a8",
               :page 1,
               :position {:bounding {:x1 70.86487197875977,
                                     :y1 332.07568359375,
                                     :x2 647.0818214416504,
                                     :y2 390.1946105957031,
                                     :width 716.6666666666666,
                                     :height 1081.6666666666665},
                          :rects ({:x1 70.86487197875977,
                                   :y1 332.07568359375,
                                   :x2 105.64865493774414,
                                   :y2 390.1946105957031,
                                   :width 716.6666666666666,
                                   :height 1081.6666666666665}
                                  {:x1 108.56756973266602,
                                   :y1 340.5405578613281,
                                   :x2 647.0818214416504,
                                   :y2 358.1838073730469,
                                   :width 716.6666666666666,
                                   :height 1081.6666666666665}
                                  {:x1 108.56756973266602,
                                   :y1 362.2864990234375,
                                   :x2 646.1073341369629,
                                   :y2 379.92974853515625,
                                   :width 716.6666666666666,
                                   :height 1081.6666666666665}),
                          :page 1},
               :content {:text "COMMONS-BASED peer production is a socio-economic system of production that is emerging in the digitally networked environment."},
               :properties {:color "yellow"}}],
 :extra {:page 1}}
